<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>


          <h1>Lista de personas</h1>

          <table>
            <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Email</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="p: ${listaPersonas}">
                  <td th:text="${p.nombre}"></td>
                  <td th:text="${p.email}"></td>
                </tr>
            </tbody>
          </table>

</body>
</html>